name: Build docs and check links
on: [push, pull_request]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Install Ubuntu packages
        run: |
          PACKAGES=(
            pandoc
          )
          sudo apt-get install --no-install-recommends ${PACKAGES[@]}
      - name: Check Python version
        run: |
          python --version
      - name: Install docs dependencies
        run: |
          python -m pip install -r doc/requirements.txt
      - name: Build HTML
        run: |
          python -m sphinx -W --keep-going --color -d _build/doctrees/ doc/ _build/html/ -b html
      - name: Check links
        run: |
          python -m sphinx -W --keep-going --color -d _build/doctrees/ doc/ _build/linkcheck/ -b linkcheck -q
      - name: Upload linkcheck results
        uses: actions/upload-artifact@v5
        if: ${{ success() || failure() }}
        with:
          name: linkcheck
          path: _build/linkcheck/output.*
